#ciudad_agregada {
    display: block;
    height: 35px;
    width: 240px;
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
}

section {
    text-align: center;
    font-weight: 500;
}

.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}

.warning {
    background-color: #ffc107;
}

h2 {
    font-weight: 900;
}