#consultar {
    background-color: #00594c;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
    font-weight: 900;
    border: none
}

#ciudad {
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}

div.card {
    box-shadow: 2px 0px 8px 3px #a5a2a2;
    margin: 35px;
    border-radius: 15px;
    text-align: center;
    width: 260px;
}